@using HanoiTowers.Models.Hanoi;

<div class="col-4" id="@this.towerNumber">
	@for (var i = 0; i < maxTowers - stack.Count; i++)
	{
		<div class="hanoi-spacer"><input disabled/></div>
	}
	@foreach (var disk in stack.ToArray())
	{
		<div class="hanoi-div">
			<input disabled={true} style="width:@(100-((maxTowers-disk.size)*widthDecrease))%"
			class="hanoi-button hanoi-button-@(disk.size)" @bind="disk.size" />
		</div>
	}
</div>

@code {
	[Parameter]
	public Stack<Disk> stack { get; set; } = new Stack<Disk>();
	[Parameter]
	public int maxTowers { get; set; } = 9;
	[Parameter]
	public int towerNumber { get; set; } = 0;
	public const int widthDecrease = 5;
}
